@font-face {
  font-family: arcadeFont;
  src: url(../fonts/arcade.TTF);
}
@font-face {
  font-family: arcadeSolid;
  src: url(../fonts/arcadeSolid.TTF);
}
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  background-image: url(../images/indexBackground.jpg);
}
h1 {
  text-align: center;
  padding-top: 50px;
  font-family: "arcadeFont";
  font-weight: 800;
  font-size: 80px;
  color: #ade664;
  height: 100px;
  /* overlay background */
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  overflow: hidden;
}
input {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ade664;
  border-radius: 10px;
  color: #c7c7c6;
  font-size: larger;
}
span {
  position: relative;
  font-family: arcadeSolid;
  display: block;
  color: #e68964;
  border-radius: 10px;
  font-weight: 400;
  font-size: 12px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
}
#submitBtn {
  font-family: arcadeSolid;
}
select {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #89be42;
  color: #c7c7c6;
}

option {
  font-size: 10px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  width: 200px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #89be42;
  color: #c7c7c6;
}

.typed-cursor{
  display: none;
}

#submitBtn:hover{
  cursor: pointer;
  background-color: #c7c7c6;
  color: #89be42;
}